# Numpy and Pandas

## Objectives: 

- Use numpy.random to generate a dataset.
- Read in various forms of data into a panadas dataframe
- Perform some basic operations on the dataframe

## Agenda

- Review Numpy
- Introduce Pandas
- Reading in data and merging dataframes (DF)
- working with missing values
- Slicing, selecing and xxtracting data

## Numpy

- There is nothing in NumPy which can’t be done via python lists or by using other data structures.
- NumPy provides an efficient storage and better way handling of the data for mathematical operations using simple API’s.

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import numpy as np

In [ ]:
# Create an array of 25 numbers between -1 and 1
pure = np.linspace(-1, 1, 25)

In [ ]:
# Create a scatterplot where the x and y both refer to the array created above
plt.plot(pure, pure, 'o', color='black');

In [ ]:
#Add some noise to the data by randomly generating numbers between 0 and .5 to add to the Ys
noise = np.random.normal(0, .5, pure.shape)
signal = pure + noise
plt.plot(pure, signal, 'o', color='black');

In [ ]:
# Graph a log transformation of the numbers
pure = np.linspace(0, 10000, 50)
noise = np.random.normal(-.2, .2, pure.shape)
y = np.log(pure)
signal = y + noise

In [ ]:
# Create plot
fig, ax = plt.subplots()
ax.scatter(pure, signal)
ax.set_title('Log Transformation scatter plot')

plt.show()

**Use a numpy function to transform the `pure` data series and then create your own scatterplot of the new data with the `pure` data.**

In [ ]:
# Create plot
fig, ax = plt.subplots()

#transform your data with a numpy function
____ = np._____

#plot the newly retransformed graph
ax.scatter(pure, ____)

#rename your grpah
ax.set_title('______')

plt.show()

## Pandas

In [ ]:
import pandas as pd

### Core components of pandas: Series and DataFrames

The primary two components of pandas are the `Series` and `DataFrame`.

A Series is essentially a column, and a DataFrame is a multi-dimensional table made up of a collection of Series.

<img src="series-and-dataframe.png" alt="drawing" width="600"/>

In [ ]:
help(pd.DataFrame)

## Creating a Dataframe

A dataframe can be created from many different types of data sources.  Below are diffeten examples of this.

### Create from dictionaries

In [ ]:
#define a ditionary containing employee data
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd'],
        'Mobile No': [97, 91, 58, 76]}

In [ ]:
#Convert the dictionary into DataFrame 
df1 = pd.DataFrame(data1,index=[0, 1, 2, 3])
df1

### Create a dataframe from a csv file

In [ ]:
movies = pd.read_csv('IMDB-Movie-Data.csv')
movies.head(1)

### Read CSV from weburl

*If you are doing this from git, make sure you have the url for the raw csv file*

In [ ]:
pd.read_csv('https://raw.githubusercontent.com/learn-co-students/nyc-mhtn-ds-071519-lectures/master/week-1/Descriptive_Statistics/weight-height.csv')

### Read in excel file

There is a file called `1617FedSchoolCodeList.xlsx` in this directory.Look up how to read an excel file into a dataframe and do it.

In [ ]:

pd.read_excel('1617FedSchoolCodeList.xlsx', index_col='ID')

### Create from  from json

In [ ]:
import json
db = json.load(open('foods-2011-10-03.json'))
len(db)

In [ ]:
pd.DataFrame(db)

In [ ]:
pd.read_json('foods-2011-10-03.json')

In [ ]:
info_keys = ['description', 'group', 'id', 'manufacturer']
info = pd.DataFrame(db, columns=info_keys)
info

### Read from sql

You can can use [pd.read_sql()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html) sql queries and use pandas to execute them and put the results in a dataframe.

`pandas.read_sql(sql, con, index_col=None, coerce_float=True, params=None, parse_dates=None, columns=None, chunksize=None)`

In [ ]:
import mysql.connector import pandas as pd

cnx = mysql.connector .connect(
    host = "localhost",
    user = "root",
    passwd = "dbms"
)


SQL_Query = pd.read_sql_query(
'''select
product_name,
product_price_per_unit,
units_ordered,
((units_ordered) * (product_price_per_unit)) AS revenue
from tracking_sales''', conn)

In [ ]:
df = pd.DataFrame(SQL_Query, columns=['product_name','product_price_per_unit','units_ordered','revenue'])

## Familiarizing yourself with the DF

In [ ]:
#look at the columns attribute
print(df1.columns)

In [ ]:
#look at the shape attribute
df1.shape

In [ ]:
#understanding the different types of data for each column
df1.info()

In [ ]:
#call on a specific column

df1['Name']

In [ ]:
#get descriptive stats by columns
df1.describe()

***Why did we only get the summary stats for 2 columns?***

### Combining Data Frames

In [ ]:
#create a second data frame of employee data to merge the two 
data2 = {'Name':['Gaurav', 'Anuj', 'Dhiraj', 'Hitesh'], 
        'Age':[22, 32, 12, 52], 
        'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons'],
        'Salary':[1000, 2000, 3000, 4000]} 

df2 = pd.DataFrame(data2, index=[2, 3, 6, 7]) 
df2.head()

In [ ]:
df1

#### Appending Dataframes

In [ ]:
df1.append(df2, sort=False)

In [ ]:
pd.concat([df1, df2], sort=True, axis=0)

In [ ]:
pd.concat([df1, df2], sort=True, axis=1)

#### Merging Dataframes

<img src="joinimages.png" alt="drawing" width="550"/>

In [ ]:
pd.merge(df1, df2)

In [ ]:
help(pd.merge)

By calling the merge function on multiple dataframes without any specifications, it tries its best to merge them. It will assess any column that they find to be identical and use those as the merge.

In [ ]:
pd.merge(df1, df2, how='inner')

If we want to keep all data we should do an outer join

In [ ]:
pd.merge(df1, df2, how='outer')

If you are only concerned with data from one table, then you can specify that table is what you want to merge on.

In [ ]:
pd.merge(df1, df2, how='right')

Sometimes you want to be specific in which columns you want the dataframe to merge on

In [ ]:
pd.merge(df1, df2, how='right', on=['Name', 'Age'])

## Data transformation

### Removing duplicates

Duplicate rows may be found in a DataFrame for any number of reasons. Here is an example:

In [ ]:
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4,
                  'k2': [1, 1, 2, 3, 3, 4, 4]})
data

In [ ]:
# method that returns a boolean Series indicating whether each row 
# is a duplicate or not
data[data.duplicated()]

data.drop_duplicates()

If I call `data` again why are there still duplicates?

In [ ]:
data

In [ ]:
data.drop_duplicates(inplace=True)
data

In [ ]:
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4,
                  'k2': [1, 1, 2, 3, 3, 4, 4]})

#we are adding another column to help us understand which row was dropped
data['v1'] = range(7)

data

In [ ]:

data.drop_duplicates(['k1'])

In [ ]:


data.drop_duplicates(['k1'], keep='last')

## Examining different parts of the data frame

In [ ]:
movies_df = pd.read_csv('IMDB-Movie-Data.csv', index_col='Title')

Now we'll look at getting data by rows.

For rows, we have two options:

- .loc - locates by name
- .iloc- locates by numerical index

Remember that we are still indexed by movie Title, so to use .loc we give it the Title of a movie:

In [ ]:
movies_df.head(3)

In [ ]:
# use loc to find the row by name
prom = movies_df.loc["Prometheus"]

prom

In [ ]:
#use iloc to find the row by numerical index

prom = movies_df.iloc[1]
prom

`loc` and `iloc` can be thought of as similar to Python list slicing. To show this even further, let's select multiple rows.


How would you do it with a list? In Python, just slice with brackets like `example_list[1:4]`. It's works the same way in pandas:

In [ ]:
movies_df.loc['Prometheus':'Sing']

In [ ]:
movies_df.iloc[1:4]

## Deep Copy vs. Shallow Copy

In [ ]:
#make a copy of the dataframe. 
testing = movies_df
testing.head(2)

In [ ]:
#change the values for one column
testing['Director'] = 'SeanAbu'
testing.head(2)

***Let's look back at the origianl dataframe***

In [ ]:
movies_df.head(2)

We created a shallow copy of the dataframe.  What does that mean?

In [ ]:
s = pd.Series([1, 2], index=["a", "b"])
deep = s.copy(deep=True)
shallow = s.copy(deep=False)

Shallow copy shares data and index with original.

In [ ]:
s is shallow

In [ ]:
s.values is shallow.values and s.index is shallow.index

Deep copy has own copy of data and index.

In [ ]:
s is deep

In [ ]:
s.values is deep.values or s.index is deep.index

Updates to the data shared by shallow copy and original is reflected in both; deep copy remains unchanged.

In [ ]:
s[0] = 3
shallow[1] = 4

In [ ]:
s

In [ ]:
shallow

In [ ]:
deep

## Conditional selections


For example, what if we want to filter our movies DataFrame to show only films directed by Ridley Scott or films with a rating greater than or equal to 8.0?

To do that, we take a column from the DataFrame and apply a Boolean condition to it. Here's an example of a Boolean condition:

In [ ]:
movies_df = pd.read_csv('IMDB-Movie-Data.csv', index_col='Title')

### In SQL

`select * from table where column_name = some_value`

### In Pandas

In [ ]:
condition = (movies_df['Director'] == "Ridley Scott")

condition

We want to filter out all movies not directed by Ridley Scott, in other words, we don’t want the False films. To return the rows where that condition is True we have to pass this operation into the DataFrame:

In [ ]:
movies_df[condition_df]

In [ ]:
movies_df[movies_df['Director'] == "Ridley Scott"]

**Find how many movies were directed by Christopher Nolan.**

In [ ]:
#put your code here

Let's look at conditional selections using numerical values by filtering the DataFrame by ratings:

In [ ]:
movies_df[movies_df['Rating'] >= 8.8]

We can make some richer conditionals by using logical operators: 
- `|`    for "or"  
- `&`    for "and"


Let's filter the the DataFrame to show only movies by Christopher Nolan OR Ridley Scott:

In [ ]:
movies_df[(movies_df['Director'] == 'Christopher Nolan') | (movies_df['Director'] == 'Ridley Scott')]

** Find all of the movies by a Christopher Nolan that have a score of 8.7 or better**

In [ ]:
# your code here

Using the `isin()` method we could make this more concise though:

In [ ]:
movies_df[movies_df['Director'].isin(['Christopher Nolan', 'Ridley Scott'])].head()

Using `~` flips your booleans and allows you to find the inverse of your query.

In [ ]:
movies_df[~movies_df['Director'].isin(['Christopher Nolan', 'Ridley Scott'])].head()

There is also a [Dataframe.query()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html) method that allows you to perform these conditional selections.

In [ ]:
movies_df.query('Rating >= 8')

In [ ]:
movies_df.query('Director == "Christopher Nolan" | Director == "Ridley Scott"')

## Applied Question: 

Which group of movies has the higher average revenue those with a rating of above 8, or those with at least 300,000 reviews?

In [ ]:
#Subset the dataframe to find movies with a rating above 8.

In [ ]:
# Find the average revenue of that group.

In [ ]:
#Subset the dataframe to find movies with more than 300,000 reviews.

In [ ]:
#find the average of that group

In [ ]:
#compare the two numbers